<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yishenxiao.commons.dao.WechatMemberMapper" >
  <resultMap id="BaseResultMap" type="com.yishenxiao.commons.beans.WechatMember" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="RemarkPYQuanPin" property="remarkpyquanpin" jdbcType="VARCHAR" />
    <result column="RemarkPYInitial" property="remarkpyinitial" jdbcType="VARCHAR" />
    <result column="KeyWord" property="keyword" jdbcType="VARCHAR" />
    <result column="AttrStatus" property="attrstatus" jdbcType="BIGINT" />
    <result column="PYInitial" property="pyinitial" jdbcType="VARCHAR" />
    <result column="Uin" property="uin" jdbcType="INTEGER" />
    <result column="DisplayName" property="displayname" jdbcType="VARCHAR" />
    <result column="NickName" property="nickname" jdbcType="VARCHAR" />
    <result column="MemberStatus" property="memberstatus" jdbcType="INTEGER" />
    <result column="FromGroup" property="fromgroup" jdbcType="VARCHAR" />
    <result column="Puid" property="puid" jdbcType="VARCHAR" />
    <result column="ParentUserName" property="parentusername" jdbcType="VARCHAR" />
    <result column="NickNameMd5" property="nicknamemd5" jdbcType="VARCHAR" />
    <result column="FromGroupMd5" property="fromgroupmd5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createTime, UserName, RemarkPYQuanPin, RemarkPYInitial, KeyWord, AttrStatus, 
    PYInitial, Uin, DisplayName, NickName, MemberStatus, FromGroup, Puid, ParentUserName, 
    NickNameMd5, FromGroupMd5
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_wechat_member
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_wechat_member
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yishenxiao.commons.beans.WechatMember" >
    insert into sys_wechat_member (id, createTime, UserName, 
      RemarkPYQuanPin, RemarkPYInitial, KeyWord, 
      AttrStatus, PYInitial, Uin, 
      DisplayName, NickName, MemberStatus, 
      FromGroup, Puid, ParentUserName, 
      NickNameMd5, FromGroupMd5)
    values (#{id,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR}, 
      #{remarkpyquanpin,jdbcType=VARCHAR}, #{remarkpyinitial,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, 
      #{attrstatus,jdbcType=BIGINT}, #{pyinitial,jdbcType=VARCHAR}, #{uin,jdbcType=INTEGER}, 
      #{displayname,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{memberstatus,jdbcType=INTEGER}, 
      #{fromgroup,jdbcType=VARCHAR}, #{puid,jdbcType=VARCHAR}, #{parentusername,jdbcType=VARCHAR}, 
      #{nicknamemd5,jdbcType=VARCHAR}, #{fromgroupmd5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yishenxiao.commons.beans.WechatMember" >
    insert into sys_wechat_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="remarkpyquanpin != null" >
        RemarkPYQuanPin,
      </if>
      <if test="remarkpyinitial != null" >
        RemarkPYInitial,
      </if>
      <if test="keyword != null" >
        KeyWord,
      </if>
      <if test="attrstatus != null" >
        AttrStatus,
      </if>
      <if test="pyinitial != null" >
        PYInitial,
      </if>
      <if test="uin != null" >
        Uin,
      </if>
      <if test="displayname != null" >
        DisplayName,
      </if>
      <if test="nickname != null" >
        NickName,
      </if>
      <if test="memberstatus != null" >
        MemberStatus,
      </if>
      <if test="fromgroup != null" >
        FromGroup,
      </if>
      <if test="puid != null" >
        Puid,
      </if>
      <if test="parentusername != null" >
        ParentUserName,
      </if>
      <if test="nicknamemd5 != null" >
        NickNameMd5,
      </if>
      <if test="fromgroupmd5 != null" >
        FromGroupMd5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="remarkpyquanpin != null" >
        #{remarkpyquanpin,jdbcType=VARCHAR},
      </if>
      <if test="remarkpyinitial != null" >
        #{remarkpyinitial,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="attrstatus != null" >
        #{attrstatus,jdbcType=BIGINT},
      </if>
      <if test="pyinitial != null" >
        #{pyinitial,jdbcType=VARCHAR},
      </if>
      <if test="uin != null" >
        #{uin,jdbcType=INTEGER},
      </if>
      <if test="displayname != null" >
        #{displayname,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="memberstatus != null" >
        #{memberstatus,jdbcType=INTEGER},
      </if>
      <if test="fromgroup != null" >
        #{fromgroup,jdbcType=VARCHAR},
      </if>
      <if test="puid != null" >
        #{puid,jdbcType=VARCHAR},
      </if>
      <if test="parentusername != null" >
        #{parentusername,jdbcType=VARCHAR},
      </if>
      <if test="nicknamemd5 != null" >
        #{nicknamemd5,jdbcType=VARCHAR},
      </if>
      <if test="fromgroupmd5 != null" >
        #{fromgroupmd5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yishenxiao.commons.beans.WechatMember" >
    update sys_wechat_member
    <set >
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="remarkpyquanpin != null" >
        RemarkPYQuanPin = #{remarkpyquanpin,jdbcType=VARCHAR},
      </if>
      <if test="remarkpyinitial != null" >
        RemarkPYInitial = #{remarkpyinitial,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        KeyWord = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="attrstatus != null" >
        AttrStatus = #{attrstatus,jdbcType=BIGINT},
      </if>
      <if test="pyinitial != null" >
        PYInitial = #{pyinitial,jdbcType=VARCHAR},
      </if>
      <if test="uin != null" >
        Uin = #{uin,jdbcType=INTEGER},
      </if>
      <if test="displayname != null" >
        DisplayName = #{displayname,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="memberstatus != null" >
        MemberStatus = #{memberstatus,jdbcType=INTEGER},
      </if>
      <if test="fromgroup != null" >
        FromGroup = #{fromgroup,jdbcType=VARCHAR},
      </if>
      <if test="puid != null" >
        Puid = #{puid,jdbcType=VARCHAR},
      </if>
      <if test="parentusername != null" >
        ParentUserName = #{parentusername,jdbcType=VARCHAR},
      </if>
      <if test="nicknamemd5 != null" >
        NickNameMd5 = #{nicknamemd5,jdbcType=VARCHAR},
      </if>
      <if test="fromgroupmd5 != null" >
        FromGroupMd5 = #{fromgroupmd5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yishenxiao.commons.beans.WechatMember" >
    update sys_wechat_member
    set createTime = #{createtime,jdbcType=TIMESTAMP},
      UserName = #{username,jdbcType=VARCHAR},
      RemarkPYQuanPin = #{remarkpyquanpin,jdbcType=VARCHAR},
      RemarkPYInitial = #{remarkpyinitial,jdbcType=VARCHAR},
      KeyWord = #{keyword,jdbcType=VARCHAR},
      AttrStatus = #{attrstatus,jdbcType=BIGINT},
      PYInitial = #{pyinitial,jdbcType=VARCHAR},
      Uin = #{uin,jdbcType=INTEGER},
      DisplayName = #{displayname,jdbcType=VARCHAR},
      NickName = #{nickname,jdbcType=VARCHAR},
      MemberStatus = #{memberstatus,jdbcType=INTEGER},
      FromGroup = #{fromgroup,jdbcType=VARCHAR},
      Puid = #{puid,jdbcType=VARCHAR},
      ParentUserName = #{parentusername,jdbcType=VARCHAR},
      NickNameMd5 = #{nicknamemd5,jdbcType=VARCHAR},
      FromGroupMd5 = #{fromgroupmd5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryByGroupName" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_wechat_member
    where ParentUserName = #{fromgroup,jdbcType=VARCHAR}
  </select>
  <select id="queryWechatMember" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_wechat_member
  </select>
  <select id="queryWechatMemberByCOU" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_wechat_member where id > #{cou}
  </select>
  <select id="queryByParentUserName" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_wechat_member where ParentUserName = #{username}
  </select>
  <select id="queryByUserName" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_wechat_member where UserName = #{username}
  </select>
  <select id="queryByCounts" resultType="java.lang.Integer">
    select count(*) from sys_wechat_member
  </select>
  <select id="queryWechatMemberByCounts" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_wechat_member where id > #{start,jdbcType=BIGINT} order by createTime asc limit #{eventCounts,jdbcType=INTEGER}
  </select>
  <select id="queryByGroupNickNameMD5" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_wechat_member where FromGroupMd5 = #{nicknamemd5}
  </select>
</mapper>