<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yishenxiao.usermanager.dao.FriendsMapper" >
  <resultMap id="BaseResultMap" type="com.yishenxiao.usermanager.beans.Friends" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="friendsId" property="friendsid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, friendsId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_friends
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_friends
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yishenxiao.usermanager.beans.Friends" >
    insert into sys_friends (id, userId, friendsId
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{friendsid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yishenxiao.usermanager.beans.Friends" >
    insert into sys_friends
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="friendsid != null" >
        friendsId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="friendsid != null" >
        #{friendsid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yishenxiao.usermanager.beans.Friends" >
    update sys_friends
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="friendsid != null" >
        friendsId = #{friendsid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yishenxiao.usermanager.beans.Friends" >
    update sys_friends
    set userId = #{userid,jdbcType=BIGINT},
      friendsId = #{friendsid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>